.imageContainer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
}

@media (max-width: 768px) {
    .imageContainer {
        display: none;
    }
}

@media (max-width: 768px) {
    .mainImage {
        display: none;
    }
}

.container {
    display: flex;
    height: 90vh;
    width: 100%;
}

.registerContainer {
    text-align: center;
    border: 3px solid black;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 3px;
    border-color: gray;
    height: 30px;
    width: 400%;
    max-width: 300px;
    outline: none;
    font-weight: bold;
    padding-left: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.h1 {
    font-size: 30px;
    color: #e65624;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.h3 {
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
}

.formContainer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
}

.button {
    margin-top: 10px;
    padding: 10px;
    background-color: #e65624;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}